{% extends "public/templates/public_template.html" %} {% block title %} SNP Tool {% endblock %} {% block main %}
<div class="d-flex" id="wrapper">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="journal-content-article" id="article_10154_10180_4281571_1.0">
                    <h2 style="text-align: center;"><strong>Términos y Condiciones de Uso</strong></h2>
                    <p>&nbsp;</p>
                    <p><strong>INFORMACIÓN RELEVANTE</strong></p>
                    <p>Es requisito necesario para el uso de este sitio, que lea y acepte los siguientes Términos y Condiciones que a continuación se redactan. El uso de nuestros servicios implicará que usted ha leído y aceptado los Términos y Condiciones
                        de Uso en el presente documento.</p>
                    <p><strong>LICENCIA</strong></p>
                    <p>SNP Tool a través de su sitio web concede una licencia para que los usuarios utilicen este servicio de acuerdo a los Términos y Condiciones que se describen en este documento.</p>
                    <p><strong>USO NO AUTORIZADO</strong></p>
                    <p>No está permitido el uso de este Software con ningún tipo de fin comercial, tanto parcial como totalmente, así como modificado o sin modificar.</p>
                    <p>El administrador se reserva el derecho a tomar medidas en caso de un uso inadecuado de la aplicación.</p>
                    <p><strong>PROPIEDAD</strong></p>
                    <p>Usted no puede declarar propiedad intelectual o exclusiva a ninguno de nuestros productos, modificado o sin modificar. Todos los productos son propiedad &nbsp;de los proveedores del contenido. En caso de que no se especifique lo contrario,
                        nuestros productos se proporcionan sin ningún tipo de garantía, expresa o implícita. La compañía no será responsables de ningún daño incluyendo, pero no limitado a, daños directos, indirectos, especiales, fortuitos o consecuentes
                        u otras pérdidas resultantes del uso o de la imposibilidad de utilizar nuestros productos.</p>
                    <p><strong>PRIVACIDAD</strong></p>
                    <p>SNP tool garantiza que la información personal que usted envía cuenta con la seguridad necesaria. Los datos ingresados por usuario para realizar las consultas son almacenados por un periodo de 24 horas, tras el cual serán eliminados
                        automáticamente. Solo los datos enviados los formularios de error son almacenados por un tiempo de un mes, con el fin de poder mejorar el servicio que ofrece la herramienta. Eliminando las consultas elimina también los datos referentes
                        a la misma.
                    </p>
                    <p>SNP Tool reserva los derechos de cambiar o de modificar estos términos sin previo aviso.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}