<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content bg-light">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Terminología</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <p>Los <strong>alelos</strong> pueden ser:</p>
                <ul>
                    <li>'A': Adenina</li>
                    <li>'C': Citosina</li>
                    <li>'G': Guanina</li>
                    <li>'T': Timina</li>
                </ul>
                <p>Los <strong>aminoácidos</strong> pueden ser:</p>
                <ul style=" columns: 2;">
                    <li> 'A': Alanina </li>
                    <li> 'C': Cisteína </li>
                    <li> 'D': Ácido aspártico </li>
                    <li> 'E': Ácido glutámico </li>
                    <li> 'F': Fenilalanina </li>
                    <li> 'G': Glicina </li>
                    <li> 'H': Histidina </li>
                    <li> 'I': Isoleucina </li>
                    <li> 'K': Lisina </li>
                    <li> 'L': Leucina </li>
                    <li> 'M': Metionina </li>
                    <li> 'N': Asparagina </li>
                    <li> 'P': Prolina </li>
                    <li> 'Q': Glutamina </li>
                    <li> 'R': Arginina </li>
                    <li> 'S': Serina </li>
                    <li> 'T': Treonina </li>
                    <li> 'V': Valina </li>
                    <li> 'W': Triptófano </li>
                    <li> 'Y': Tirosina </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>